<%= form_for @itinerary do |f| %>
  <div>
    <%= f.label(:name, "Itinerary Name") %>
    <%= f.text_field(:name) %>
  </div>

  <div>
    <%= f.label(:city, "City") %>
    <%= f.text_field(:city) %>
  </div>

  <div>
    <%= f.label(:price, "Price") %>
    <%= f.text_field(:price) %>
  </div>

  <div>
    <%= f.label(:description, "Description") %>
    <%= f.text_area :description, rows: 20, cols: 30 %>
  </div>

  <div>
    <%= f.label(:total_capacity, "Total Capacity") %>
    <%= f.text_field(:total_capacity) %>
  </div>

  <div>
    <%= f.label(:pic_url, "Pic URL") %>
    <%= f.text_field(:pic_url) %>
  </div>

  <p>
    <%= f.label :date, "Date" %>
    <%= f.date_field :date %>
  </p>

  <%= submit_tag %>
<% end %>