SHOW

<%= @user.username %>

<p> Tours I'm hosting </p>

<%= link_to "Host new Itinerary", new_itinerary_path %>

<ul>
	<% @user.host_itineraries.each do |itinerary| %>
	<li> <%= link_to itinerary.name, itinerary_path(itinerary) %>  - 
<%= link_to "Edit", edit_itinerary_path(itinerary) %> - (Total seats left: <%= itinerary.total_capacity - itinerary.spots_sold %> of <%= itinerary.total_capacity %>)</li>
	<% end %>
</ul>

<p> Tours I'm going on </p>
<ul>
	<% @user.itinerary_users.each do |booking| %>
	<li> <%= link_to booking.itinerary.name, itinerary_path(booking.itinerary) %> 
	<%= link_to "Cancel booking", itinerary_user_path(booking), method: :delete %>
  </li> 
	<% end %>
</ul>
